@model PhotoViewModel

@{
    var base64 = Convert.ToBase64String(Model.Photo.Binary);
    var imgSrc = String.Format("data:image/{1};base64,{0}", base64, Model.Photo.FileEnding);

    ViewData["Title"] = "Georgia 2017";
}

<div style="background-image: url('@imgSrc')" class="photo">
    <div class="prev">
        <a href="/v/i/@Model.PrevPhoto?.Slug">
        </a>
    </div>
    <div class="next">
        <a href="/v/i/@Model.NextPhoto?.Slug"> 
        </a>
    </div>
</div>

